<h2>Log de Consumo API</h2>

<h5>Lista de requisições sofridas pelo serviço Rest.</h5>

<div class="search">
	<form>
		<div><a href="javascript: clearSearch()">[x]</a></div>
		<input type="text" id="search" placeholder="<?= SEARCH_LABEL ?>">
	</form>
</div>

<div class="list_table">
	<table>

		<thead>
			<tr>
				<th>Data</th>
				<th>URL</th>
				<th>Post</th>
				<th>Agente</th>
				<th>IP</th>
			</tr>
		</thead>

		<tbody>
			<!-- DYNAMIC -->
		</tbody>

	</table>
</div>

<script type="text/javascript" src="partials/js/LogList.js"></script>